
<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    
    <link rel="stylesheet" href="{{ site.css_url }}/normalize.css" />
    <link rel="stylesheet" href="{{ site.css_url }}/style.css" />
  </head>
  <body>
    {{ content }}
  </body>
</html>